---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Developpement de mini jeux</div>
  </div>
  <HorizontalCard
    title="Morpion"
    img="/morpion.webp"
    desc="Jeux du morpion en C#"
    url="https://github.com/LaDw6L03/Morpion"
    badge="✅"/>
</BaseLayout>

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Exemple</div>
  </div>
  <HorizontalCard
    title="Exemple"
    img="/morpion.webp"
    desc="Exemple"
    url="exemple.com"
    badge="✖️"/>
</BaseLayout>

