---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---


<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <!-- Première catégorie -->
    <div class="text-3xl w-full font-bold mb-5">
      Développement d'un mini jeux
    </div>
    <HorizontalCard
      title="Morpion"
      img="/morpion.webp"
      desc="Jeux du morpion en C#"
      url="https://github.com/LaDw6L03/Morpion"/>
    <!-- Seconde catégorie -->
    <div class="text-3xl w-full font-bold mt-10 mb-5">
      Projets personnel
    </div>
    <HorizontalCard
      title="VAGEDCSuite"
      img="/vagedcsuite.webp"
      desc="Fork et modification d'un outil gratuit de reprogrammation moteur : EDC15VM+/P+"
      url="https://github.com/LaDw6L03/VAGEDCSuite"/>
  </div>
</BaseLayout>
